<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="CrazyAboutPi.DataAccess.Properties.Settings.DatabaseConnectionString"
      connectionString="data source=C:\BitBucket\WhatsCook\Source\Database.db"
      providerName="System.Data.SQLite" />
    <add name="CrazyAboutPi.DataAccess.Properties.Settings.DatabaseConnectionString1"
      connectionString="data source=C:\BitBucket\WhatsCook\Source\Database.db"
      providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>